In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('주문지역 기상 정보.csv')

C:\Users\jjanw\AppData\Local\Temp\ipykernel_15272\2790086969.py:1: DtypeWarning: Columns (8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('주문지역 기상 정보.csv')

In [3]:
data

,순번,시군구코드,광역시도명,시군구명,공개 일,공개 시간,강수 유형명,습도,1시간 강수량 값,기온,풍속,바람강도 유형명,동쪽서쪽바람유형명,풍향값,풍향카테고리명
0,1,42150,강원도,강릉시,20190101,0,없음,25,0,-0.3,4.5,약간강,east,228,SW
1,2,42820,강원도,고성군,20190101,0,없음,23,0,0.6,1.9,약,east,271,W
2,3,42170,강원도,동해시,20190101,0,없음,25,0,2.1,1.8,약,east,231,SW
3,4,42230,강원도,삼척시,20190101,0,없음,23,0,1.3,2,약,east,222,SW
4,5,42210,강원도,속초시,20190101,0,없음,20,0,1.2,0.1,약,east,7,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5626745,5626746,48870,경상남도,함양군,20210831,2000,없음,91,0.0,24.6,0.2,약,west,94,E
5626746,5626747,48880,경상남도,거창군,20210831,2000,없음,89,0.0,23.6,1.3,약,east,356,N
5626747,5626748,48890,경상남도,합천군,20210831,2000,없음,95,0.0,25.1,0.0,약,none,0,N
5626748,5626749,50110,제주특별자치도,제주시,20210831,2000,없음,79,0.0,27.7,0.7,약,west,102,ESE
5626749,5626750,50130,제주특별자치도,서귀포시,20210831,2000,없음,87,0.0,26.2,1.1,약,east,237,WSW

In [5]:
data['광역시도명'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [8]:
data.groupby(['광역시도명'])['습도'].median()

광역시도명
강원도        71.0
경기도        69.0
경상남도       71.0
경상북도       71.0
광주광역시      75.0
대구광역시      60.0
대전광역시      70.0
부산광역시      64.0
서울특별시      62.0
세종특별자치시    74.0
울산광역시      70.0
인천광역시      67.0
전라남도       77.0
전라북도       76.0
제주특별자치도    72.0
충청남도       78.0
충청북도       74.0
Name: 습도, dtype: float64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5626750 entries, 0 to 5626749
Data columns (total 15 columns):
 #   Column     Dtype
---  ------     -----
 0   순번         int64
 1   시군구코드      int64
 2   광역시도명      object
 3   시군구명       object
 4   공개 일       int64
 5   공개 시간      int64
 6   강수 유형명     object
 7   습도         int64
 8   1시간 강수량 값  object
 9   기온         object
 10  풍속         object
 11  바람강도 유형명   object
 12  동쪽서쪽바람유형명  object
 13  풍향값        int64
 14  풍향카테고리명    object
dtypes: int64(6), object(9)
memory usage: 643.9+ MB

In [12]:
data1 = pd.read_csv('data/지역-업종 결제정보.csv')

In [13]:
data1

                  날짜  24시기준 해당시간 배달상점 업종명 배달상점 광역시도명 배달상점 시군구명  결제종류값
0         2019-07-31           0       피자        경기도  고양시 일산서구      3
1         2019-07-31           0   카페/디저트        경기도  고양시 일산동구      2
2         2019-07-31           0       치킨       전라남도       순천시      1
3         2019-07-31           0    족발/보쌈        경기도      의정부시      2
4         2019-07-31           0       치킨      서울특별시      영등포구      2
...              ...         ...      ...        ...       ...    ...
11023301  2020-07-31          23       야식    제주특별자치도      서귀포시      2
11023302  2020-07-31          23       치킨        경기도   안산시 상록구      2
11023303  2020-07-31          23       치킨        경기도      동두천시      1
11023304  2020-07-31          23       치킨        경기도      의정부시      2
11023305  2020-07-31          23       한식        경기도      의정부시      2

[11023306 rows x 6 columns]

In [2]:
data2 = pd.read_csv('data/업종 목적지별 배달 주문건수.csv')

In [3]:
data2.head()

           날짜  시간대별 시간 배달상점 업종명 목적지 광역시도명 목적지 시군구명  주문 건수
0  2019-05-01        0    족발/보쌈      충청북도      제천시      2
1  2019-05-01        0       치킨      충청북도      제천시      5
2  2019-05-01        1       치킨      충청북도      제천시      6
3  2019-05-01       10    패스트푸드      충청북도      제천시      1
4  2019-05-01       10       한식      충청북도      제천시      4

In [4]:
data3 = pd.read_csv('data/업종-지역별 평균주문금액.csv')

In [5]:
data3.head()

           날짜  시간대별 시간 배달상점 업종명 배달상점 광역시도명 배달상점 시군구명  평균주문금액
0  2019-07-17        0      도시락        경기도      의정부시   21000
1  2019-07-17        0   돈까스/일식        경기도      의정부시   35000
2  2019-07-17        0   돈까스/일식       충청북도       제천시   42000
3  2019-07-17        0   배달전문업체        경기도  고양시 일산동구   23125
4  2019-07-17        0   배달전문업체        경기도      의정부시   16633

In [6]:
data4 = pd.read_csv('data/지역-업종 결제정보.csv')

In [7]:
data4.head()

           날짜  24시기준 해당시간 배달상점 업종명 배달상점 광역시도명 배달상점 시군구명  결제종류값
0  2019-07-31           0       피자        경기도  고양시 일산서구      3
1  2019-07-31           0   카페/디저트        경기도  고양시 일산동구      2
2  2019-07-31           0       치킨       전라남도       순천시      1
3  2019-07-31           0    족발/보쌈        경기도      의정부시      2
4  2019-07-31           0       치킨      서울특별시      영등포구      2

In [8]:
data5 = pd.read_csv('data/업종-거리구간 배달 건수.csv')

In [9]:
data5.head()

     년도  월 배달상점 업종명 배달상점 광역시도명 배달상점 시군구명         배달거리 구간명  배달주문수
0  2019  5       한식        경기도   수원시 장안구          1500m이하      6
1  2019  5       한식        경기도   수원시 장안구  1500m초과 3000m이하      7
2  2019  5       한식        경기도   수원시 장안구          5000m초과      1
3  2019  5    패스트푸드        경기도   수원시 팔달구          1500m이하      3
4  2019  5    패스트푸드        경기도   수원시 팔달구  3000m초과 5000m이하      3

In [10]:
data5

         년도   월 배달상점 업종명 배달상점 광역시도명 배달상점 시군구명         배달거리 구간명  배달주문수
0      2019   5       한식        경기도   수원시 장안구          1500m이하      6
1      2019   5       한식        경기도   수원시 장안구  1500m초과 3000m이하      7
2      2019   5       한식        경기도   수원시 장안구          5000m초과      1
3      2019   5    패스트푸드        경기도   수원시 팔달구          1500m이하      3
4      2019   5    패스트푸드        경기도   수원시 팔달구  3000m초과 5000m이하      3
...     ...  ..      ...        ...       ...              ...    ...
54749  2021  12        회    제주특별자치도      서귀포시  3000m초과 5000m이하      4
54750  2021  12        회    제주특별자치도      서귀포시          5000m초과      5
54751  2021  12        회       충청북도       제천시          1500m이하    105
54752  2021  12        회       충청북도       제천시  1500m초과 3000m이하     93
54753  2021  12        회       충청북도       제천시  3000m초과 5000m이하     35

[54754 rows x 7 columns]