In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
req = requests.get('http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptRent?serviceKey=3kygm0EzV%2FeG00gMCdgTQjYgzVPeoD2d32kFk9tt9zK8azyGuHSH3DDt8jWoU9vhjMqn7gbVhjnXizJ76qne8g%3D%3D&LAWD_CD=11530&DEAL_YMD=202210')

In [12]:
soup = BeautifulSoup(req.text, 'xml')

In [ ]:
soup.items()[0]

In [ ]:
col_names = []
for item in soup.items()[0] :
    #print(item.name)
    
    #print('--')
    col_names.append(item.name)

In [ ]:
data = []
for item in soup.items :
    temp = []
    for t in item :
        temp.append(t.text.strip())
        #print(t.text)
        #print('------')  
    data.append(temp)

In [ ]:
df = pd.DataFrame(data, columns = col_names)

In [13]:
req = requests.get('http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptRent?serviceKey=3kygm0EzV%2FeG00gMCdgTQjYgzVPeoD2d32kFk9tt9zK8azyGuHSH3DDt8jWoU9vhjMqn7gbVhjnXizJ76qne8g%3D%3D&LAWD_CD=11530&DEAL_YMD=(ym)')

In [ ]:
ym = df['년'] + df['월'].str.zfill(2)

In [ ]:
df

In [14]:
import numpy as np

In [ ]:
df = df.dropna(axis= 1)

In [ ]:
df['계약일'] = df['년'] + df['월'].str.zfill(2)+ df['일'].str.zfill(2)

In [ ]:
df

In [ ]:
df_10 = df

In [ ]:
req = requests.get('http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptRent?serviceKey=3kygm0EzV%2FeG00gMCdgTQjYgzVPeoD2d32kFk9tt9zK8azyGuHSH3DDt8jWoU9vhjMqn7gbVhjnXizJ76qne8g%3D%3D&LAWD_CD=11530&DEAL_YMD=202209')

In [ ]:
soup = BeautifulSoup(req.text, 'xml')

In [ ]:
soup.items()[0]

In [ ]:
col_names = []
for item in soup.items()[0] :
    #print(item.name)
    
    #print('--')
    col_names.append(item.name)

In [ ]:
data = []
for item in soup.items :
    temp = []
    for t in item :
        temp.append(t.text.strip())
        #print(t.text)
        #print('------')  
    data.append(temp)

In [ ]:
data

In [ ]:
req = requests.get('http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptRent?serviceKey=3kygm0EzV%2FeG00gMCdgTQjYgzVPeoD2d32kFk9tt9zK8azyGuHSH3DDt8jWoU9vhjMqn7gbVhjnXizJ76qne8g%3D%3D&LAWD_CD=11530&DEAL_YMD=(ym)')

In [ ]:
ym = df['년'] + df['월'].str.zfill(2)

In [ ]:
df = pd.DataFrame(data, columns = col_names)

In [ ]:
df = df.dropna(axis= 1)

In [ ]:
df['계약일'] = df['년'] + df['월'].str.zfill(2)+ df['일'].str.zfill(2)

In [ ]:
df

In [ ]:
df9 = df

In [ ]:
req = requests.get('http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptRent?serviceKey=3kygm0EzV%2FeG00gMCdgTQjYgzVPeoD2d32kFk9tt9zK8azyGuHSH3DDt8jWoU9vhjMqn7gbVhjnXizJ76qne8g%3D%3D&LAWD_CD=11530&DEAL_YMD=(ym)')

ym = 년 + 월  

df['계약일'] = df['년'] + df['월'].str.zfill(2)+ df['일'].str.zfill(2)

ym = df['년'] + df['월'].str.zfill(2)

In [ ]:
req = requests.get('http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptRent?serviceKey=3kygm0EzV%2FeG00gMCdgTQjYgzVPeoD2d32kFk9tt9zK8azyGuHSH3DDt8jWoU9vhjMqn7gbVhjnXizJ76qne8g%3D%3D&LAWD_CD=11530&DEAL_YMD=(ym)')

In [ ]:
ym = df['년'] + df['월'].str.zfill(2)

In [ ]:

for y in range(2022, 2023) :
    for m in range(6, 11) :
        url ='DEAL_YMD = ' + str(y) + str(m).zfill(2)
        req = requests.get('http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptRent?serviceKey=3kygm0EzV%2FeG00gMCdgTQjYgzVPeoD2d32kFk9tt9zK8azyGuHSH3DDt8jWoU9vhjMqn7gbVhjnXizJ76qne8g%3D%3D&LAWD_CD=11530&DEAL_YMD=url')
        
        col_names = []
        for item in soup.items()[0] :
            col_names.append(item.name)
            
        data = []
        for item in soup.items :
            temp = []
            
            for t in item :
                temp.append(t.text.strip())
            data.append(temp)
            df = pd.DataFrame(data, columns = col_names)

In [ ]:
df

In [ ]:
#해답

In [ ]:
req = requests.get('http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptRent?serviceKey=3kygm0EzV%2FeG00gMCdgTQjYgzVPeoD2d32kFk9tt9zK8azyGuHSH3DDt8jWoU9vhjMqn7gbVhjnXizJ76qne8g%3D%3D&LAWD_CD=11530&DEAL_YMD=202206')

In [4]:
data=[]
col_names=[]

for m in range (6, 11) :
    url = 'http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptRent'
    serviceKey = 'BAc5c%2B7CgdSM2dp9F0gq%2FN7FR4TwTghq%2BzHtk7BmmX%2B588SuKYRFAW77xC6eaS6kpEZgWxZnz9a1TSk%2FO%2F6gUg%3D%3D'
    lawd_cd = '11530' #지역
    deal_ymd = '2022' + str(m).zfill(2) #계약일
    
    api_url = url + '?' + 'servicekey=' + serviceKey +'&LAWD_CD='+ lawd_cd + '&DEAL_YMD=' +deal_ymd
    
    print(api_url)

http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptRent?servicekey=BAc5c%2B7CgdSM2dp9F0gq%2FN7FR4TwTghq%2BzHtk7BmmX%2B588SuKYRFAW77xC6eaS6kpEZgWxZnz9a1TSk%2FO%2F6gUg%3D%3D&LAWD_CD=11530&DEAL_YMD=202206
http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptRent?servicekey=BAc5c%2B7CgdSM2dp9F0gq%2FN7FR4TwTghq%2BzHtk7BmmX%2B588SuKYRFAW77xC6eaS6kpEZgWxZnz9a1TSk%2FO%2F6gUg%3D%3D&LAWD_CD=11530&DEAL_YMD=202207
http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptRent?servicekey=BAc5c%2B7CgdSM2dp9F0gq%2FN7FR4TwTghq%2BzHtk7BmmX%2B588SuKYRFAW77xC6eaS6kpEZgWxZnz9a1TSk%2FO%2F6gUg%3D%3D&LAWD_CD=11530&DEAL_YMD=202208
http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptRent?servicekey=BAc5c%2B7CgdSM2dp9F0gq%2FN7FR4TwTghq%2BzHtk7BmmX%2B588SuKYRFAW77xC6eaS6kpEZgWxZnz9a1TSk%2FO%2F6gUg%3D%3D&LAWD_CD=11530&DEAL_YMD=202209
http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptRent?servicekey=BAc5c%2B7CgdSM2dp9F0gq%2FN7FR4TwTghq%2BzHtk7BmmX%2B588SuKYRFAW77xC6eaS6kpEZgWxZnz9a1TSk%2FO%2F6gUg%3D%3D&LAWD_CD=11530&DEAL_YMD=202210

In [5]:
req = requests.get(api_url)
soup = BeautifulSoup(req.text,'xml')

if not col_names :
    for item in soup.items()[0]:
        col_names.append(item.name)
        
    for item in soup.items :
        temp =[]
        for t in item:
            temp.append(t.text.strip())
        data.append(temp)

NameError: name 'requests' is not defined

In [ ]:
soup.items()

In [8]:
df = pd.DataFrame(data, columns = col_names)

NameError: name 'pd' is not defined

In [ ]:
df

In [8]:
from tqdm import tqdm

In [9]:
data = []
col_names=[]
for m in tqdm(range(1, 13)):
    url = 'http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptRent'
    serviceKey = 'BAc5c%2B7CgdSM2dp9F0gq%2FN7FR4TwTghq%2BzHtk7BmmX%2B588SuKYRFAW77xC6eaS6kpEZgWxZnz9a1TSk%2FO%2F6gUg%3D%3D'
    lawd_cd = '11530' #지역
    deal_ymd = '2022' + str(m).zfill(2) #계약일
    api_url = url + '?' + 'serviceKey=' + serviceKey + '&LAWD_CD=' \
    + lawd_cd + '&DEAL_YMD=' + deal_ymd
    req = requests.get(api_url)
    soup = BeautifulSoup(req.text,'xml')
    if not col_names :
        for item in soup.items()[0]:
            col_names.append(item.name)
    for item in soup.items :
        temp = []
        for t in item :
            temp.append(t.text.strip())
        data.append(temp)

df = pd.DataFrame(data, columns=col_names)

100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:07<00:00,  1.55it/s]

In [10]:
df.shape

(8310, 17)

In [13]:
df=df.replace('', np.nan)

In [14]:
df.isnull().sum()

갱신요구권사용    7044
건축년도          0
계약구분       2729
계약기간       3250
년             0
법정동           0
보증금액          0
아파트           0
월             0
월세금액          0
일             0
전용면적          0
종전계약보증금    2729
종전계약월세     2729
지번            0
지역코드          0
층             0
dtype: int64

In [15]:
df[df['아파트']=='디큐브시티']

,갱신요구권사용,건축년도,계약구분,계약기간,년,법정동,보증금액,아파트,월,월세금액,일,전용면적,종전계약보증금,종전계약월세,지번,지역코드,층
0,NaN,2011,신규,22.03~24.03,2022,신도림동,"115,000",디큐브시티,1,0,3,128.41,0,0,692,11530,48
38,NaN,2011,갱신,22.01~24.01,2022,신도림동,"95,000",디큐브시티,1,0,14,128.41,"85,000",0,692,11530,24
39,NaN,2011,NaN,NaN,2022,신도림동,"50,000",디큐브시티,1,125,14,128.41,NaN,NaN,692,11530,27
79,NaN,2011,신규,22.02~23.02,2022,신도림동,"5,000",디큐브시티,1,350,25,105.45,0,0,692,11530,38
82,사용,2011,갱신,22.02~24.02,2022,신도림동,"73,000",디큐브시티,1,37,26,105.45,"73,000",27,692,11530,26
658,사용,2011,갱신,22.02~24.02,2022,신도림동,"72,000",디큐브시티,2,0,5,59.88,"70,000",0,692,11530,3
673,NaN,2011,NaN,NaN,2022,신도림동,"48,000",디큐브시티,2,12,8,59.16,NaN,NaN,692,11530,5
712,NaN,2011,신규,22.03~24.03,2022,신도림동,"5,000",디큐브시티,2,255,15,59.6,0,0,692,11530,8
713,NaN,2011,신규,22.03~23.03,2022,신도림동,"5,000",디큐브시티,2,260,15,59.86,0,0,692,11530,8
725,사용,2011,갱신,22.03~24.03,2022,신도림동,"42,000",디큐브시티,2,168,17,105.45,"40,000",160,692,11530,26
791,사용,2011,갱신,22.03~24.03,2022,신도림동,"3,000",디큐브시티,2,294,28,105.45,"3,000",280,692,11530,36
1492,NaN,2011,NaN,NaN,2022,신도림동,"4,000",디큐브시티,3,230,3,59.88,NaN,NaN,692,11530,3
1497,사용,2011,갱신,22.03~24.03,2022,신도림동,"60,300",디큐브시티,3,0,4,59.6,"57,500",0,692,11530,6
1505,사용,2011,갱신,22.04~23.04,2022,신도림동,"50,000",디큐브시티,3,125,9,128.41,"50,000",125,692,11530,27
1508,NaN,2011,갱신,22.07~24.07,2022,신도림동,"30,000",디큐브시티,3,80,10,59.16,"30,000",67,692,11530,7
1516,NaN,2011,신규,22.08~24.08,2022,신도림동,"120,000",디큐브시티,3,0,12,128.41,0,0,692,11530,25
1523,사용,2011,갱신,22.04~24.07,2022,신도림동,"76,650",디큐브시티,3,0,14,84.96,"73,000",0,692,11530,42
1524,사용,2011,갱신,22.03~24.03,2022,신도림동,"18,000",디큐브시티,3,149,14,59.95,"18,000",140,692,11530,9
1544,NaN,2011,갱신,22.05~24.03,2022,신도림동,"70,000",디큐브시티,3,0,19,84.96,"70,000",0,692,11530,32
1553,NaN,2011,신규,22.06~24.06,2022,신도림동,"100,000",디큐브시티,3,0,23,105.45,0,0,692,11530,15
2253,사용,2011,갱신,22.04~23.04,2022,신도림동,"57,700",디큐브시티,4,0,1,59.6,"55,000",0,692,11530,5
2254,NaN,2011,갱신,22.04~23.04,2022,신도림동,"57,700",디큐브시티,4,0,1,59.6,"55,000",0,692,11530,5
2262,NaN,2011,신규,22.06~23.06,2022,신도림동,"5,000",디큐브시티,4,390,5,105.45,0,0,692,11530,24
2287,NaN,2011,갱신,22.04~24.04,2022,신도림동,"80,000",디큐브시티,4,0,13,125.36,"70,000",0,692,11530,15
2290,NaN,2011,신규,22.05~24.05,2022,신도림동,"65,000",디큐브시티,4,0,14,59.88,0,0,692,11530,8
2305,NaN,2011,신규,22.06~24.06,2022,신도림동,"90,000",디큐브시티,4,110,20,128.41,0,0,692,11530,19
2320,NaN,2011,NaN,NaN,2022,신도림동,"15,000",디큐브시티,4,190,23,59.16,NaN,NaN,692,11530,7
2321,NaN,2011,NaN,NaN,2022,신도림동,"15,000",디큐브시티,4,190,23,59.16,NaN,NaN,692,11530,7
2341,NaN,2011,NaN,NaN,2022,신도림동,"17,500",디큐브시티,4,260,29,105.45,NaN,NaN,692,11530,28
2347,NaN,2011,신규,22.06~24.06,2022,신도림동,"75,000",디큐브시티,4,100,30,84.96,0,0,692,11530,26
3150,사용,2011,갱신,22.05~24.05,2022,신도림동,"10,000",디큐브시티,5,360,2,125.36,"10,000",350,692,11530,32
3153,사용,2011,갱신,22.05~24.05,2022,신도림동,"115,000",디큐브시티,5,0,4,128.41,"110,000",0,692,11530,46
3178,사용,2011,갱신,22.07~24.07,2022,신도림동,"55,100",디큐브시티,5,0,10,59.88,"52,500",0,692,11530,7
3182,NaN,2011,NaN,NaN,2022,신도림동,"30,000",디큐브시티,5,98,11,59.88,NaN,NaN,692,11530,3
3200,사용,2011,갱신,22.06~24.06,2022,신도림동,"76,020",디큐브시티,5,0,18,84.96,"72,400",0,692,11530,41
3202,사용,2011,갱신,22.05~22.11,2022,신도림동,"43,000",디큐브시티,5,150,19,105.45,"40,000",150,692,11530,17
3230,사용,2011,갱신,22.07~24.07,2022,신도림동,"84,000",디큐브시티,5,0,28,105.45,"80,000",0,692,11530,14
4104,NaN,2011,신규,22.08~24.08,2022,신도림동,"58,800",디큐브시티,6,0,1,59.16,0,0,692,11530,5
4115,NaN,2011,NaN,NaN,2022,신도림동,"81,900",디큐브시티,6,0,2,84.96,NaN,NaN,692,11530,29
4128,NaN,2011,신규,22.09~24.09,2022,신도림동,"125,000",디큐브시티,6,0,11,128.41,0,0,692,11530,28
4143,NaN,2011,신규,22.08~24.08,2022,신도림동,"92,000",디큐브시티,6,0,13,84.96,0,0,692,11530,28
4144,NaN,2011,신규,22.08~24.08,2022,신도림동,"66,150",디큐브시티,6,0,13,59.84,0,0,692,11530,6
4156,사용,2011,갱신,22.06~24.06,2022,신도림동,"64,050",디큐브시티,6,0,20,59.86,"61,000",0,692,11530,3
4162,NaN,2011,신규,22.08~24.08,2022,신도림동,"10,000",디큐브시티,6,460,22,125.36,0,0,692,11530,35
5418,NaN,2011,갱신,22.07~24.07,2022,신도림동,"120,000",디큐브시티,7,0,8,128.41,"105,000",0,692,11530,49
5428,사용,2011,갱신,22.08~24.08,2022,신도림동,"89,250",디큐브시티,7,0,9,105.45,"85,000",0,692,11530,29
5443,사용,2011,갱신,22.08~24.08,2022,신도림동,"89,000",디큐브시티,7,0,16,105.45,"85,000",0,692,11530,22
6505,사용,2011,갱신,22.08~24.08,2022,신도림동,"63,000",디큐브시티,8,0,10,59.86,"60,000",0,692,11530,4
6511,사용,2011,갱신,22.09~24.09,2022,신도림동,"81,900",디큐브시티,8,0,13,84.96,"78,000",0,692,11530,14
6519,NaN,2011,신규,22.09~24.09,2022,신도림동,"120,000",디큐브시티,8,0,16,125.36,0,0,692,11530,37
6523,NaN,2011,신규,22.09~24.09,2022,신도림동,"120,000",디큐브시티,8,0,16,125.36,0,0,692,11530,37
6529,사용,2011,갱신,22.08~24.08,2022,신도림동,"84,000",디큐브시티,8,0,19,84.96,"80,000",0,692,11530,45
6535,NaN,2011,신규,22.11~24.11,2022,신도림동,"75,000",디큐브시티,8,0,20,59.86,0,0,692,11530,6
6571,NaN,2011,신규,NaN,2022,신도림동,"5,000",디큐브시티,8,389,30,128.41,0,0,692,11530,23
7162,NaN,2011,신규,22.11~24.11,2022,신도림동,"77,000",디큐브시티,9,0,2,59.86,0,0,692,11530,4
7184,NaN,2011,신규,22.10~24.10,2022,신도림동,"110,000",디큐브시티,9,0,16,105.45,0,0,692,11530,16
7207,NaN,2011,NaN,22.10~24.10,2022,신도림동,"63,000",디큐브시티,9,126,22,128.41,NaN,NaN,692,11530,45
7804,NaN,2011,NaN,NaN,2022,신도림동,"120,000",디큐브시티,10,0,4,128.41,NaN,NaN,692,11530,34
7825,NaN,2011,NaN,NaN,2022,신도림동,"118,000",디큐브시티,10,0,12,125.36,NaN,NaN,692,11530,16

In [16]:
df['아파트'].value_counts()

센트레빌레우스1단지        1337
오류동행복주택            219
천왕이펜하우스7단지         212
천왕연지타운2단지          209
현대                 204
                  ...
(791-18)             1
(793-6)              1
(771-30)             1
(717-15)경원주택5동       1
(792-6)              1
Name: 아파트, Length: 455, dtype: int64

In [17]:
df_sen= df[df['아파트'] ==  '센트레빌레우스1단지']

## 월별 월세 / 전세 변화량 (전용면적 고려)
## 월세의 경우 보증금액 변화도 고려

In [20]:
df.columns

Index(['갱신요구권사용', '건축년도', '계약구분', '계약기간', '년', '법정동', '보증금액', '아파트', '월',
       '월세금액', '일', '전용면적', '종전계약보증금', '종전계약월세', '지번', '지역코드', '층'],
      dtype='object')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8244 entries, 0 to 8243
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   갱신요구권사용  1266 non-null   object
 1   건축년도     8244 non-null   object
 2   계약구분     5582 non-null   object
 3   계약기간     5061 non-null   object
 4   년        8244 non-null   object
 5   법정동      8244 non-null   object
 6   보증금액     8244 non-null   object
 7   아파트      8244 non-null   object
 8   월        8244 non-null   object
 9   월세금액     8244 non-null   object
 10  일        8244 non-null   object
 11  전용면적     8244 non-null   object
 12  종전계약보증금  5582 non-null   object
 13  종전계약월세   5582 non-null   object
 14  지번       8244 non-null   object
 15  지역코드     8244 non-null   object
 16  층        8244 non-null   object
dtypes: object(17)
memory usage: 1.1+ MB

In [12]:
import numpy as np
import pandas as pd

In [18]:
import warnings
warnings.filterwarnings('ignore') #warning 안뜨게 하기

1)  월별 전용면적 보증금액  [월세]
2)  월별 전용면적     [전세]

In [19]:
df1=df.groupby(['월','전용면적'])['월세금액'].mean() #df1은 월세변화량

In [21]:
df1

월  전용면적
1  101.48      0.000000e+00
   101.9806    5.000000e+01
   102.6       4.000000e+01
   105.45      1.751850e+04
   110.188     0.000000e+00
                   ...
9  84.9852     0.000000e+00
   84.99       6.762501e+27
   84.994      0.000000e+00
   96.3        1.300000e+02
   96.41       2.400000e+01
Name: 월세금액, Length: 2462, dtype: float64

df2 = df.groupby(['월','전용면적'])['']

In [20]:
df1.describe()

count    2462.000000
mean             inf
std              NaN
min         0.000000
25%         0.000000
50%        17.500000
75%       445.833333
max              inf
Name: 월세금액, dtype: float64

In [28]:
df2=df.groupby(['월','전용면적'])['월세금액'].mean().reset_index().sort_values('월세금액',ascending=False)

In [25]:
import seaborn as sns

In [29]:
sns.barplot(data = df2, x= df['월'], y = df['월세금액'].mean())

AttributeError: 'bool' object has no attribute 'all'

In [30]:
df_sen=df[df['아파트']=='센트레빌레우스1단지']

In [31]:
df_sen['월세금액'] = df_sen['월세금액'].astype(int)

In [32]:
df_sen[df_sen['월세금액'] == df_sen['월세금액'].max()]

,갱신요구권사용,건축년도,계약구분,계약기간,년,법정동,보증금액,아파트,월,월세금액,일,전용면적,종전계약보증금,종전계약월세,지번,지역코드,층
5758,NaN,2020,NaN,NaN,2022,개봉동,"27,891",센트레빌레우스1단지,7,432,1,84.9716,NaN,NaN,497,11530,6

In [33]:
df_sen

,갱신요구권사용,건축년도,계약구분,계약기간,년,법정동,보증금액,아파트,월,월세금액,일,전용면적,종전계약보증금,종전계약월세,지번,지역코드,층
444,NaN,2020,신규,22.03~24.03,2022,개봉동,"25,000",센트레빌레우스1단지,1,37,7,74.9361,0,0,497,11530,10
462,NaN,2020,NaN,NaN,2022,개봉동,"27,000",센트레빌레우스1단지,1,44,13,84.9716,NaN,NaN,497,11530,32
484,NaN,2020,NaN,NaN,2022,개봉동,"22,000",센트레빌레우스1단지,1,45,20,84.9716,NaN,NaN,497,11530,1
1153,NaN,2020,NaN,NaN,2022,개봉동,"25,000",센트레빌레우스1단지,2,39,3,74.9361,NaN,NaN,497,11530,20
1181,NaN,2020,NaN,NaN,2022,개봉동,"17,000",센트레빌레우스1단지,2,0,10,84.9625,NaN,NaN,497,11530,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8200,NaN,2020,NaN,NaN,2022,개봉동,"20,660",센트레빌레우스1단지,10,43,28,74.9145,NaN,NaN,497,11530,9
8299,NaN,2020,NaN,NaN,2022,개봉동,"27,891",센트레빌레우스1단지,11,45,1,84.9716,NaN,NaN,497,11530,16
8300,NaN,2020,NaN,NaN,2022,개봉동,"20,660",센트레빌레우스1단지,11,43,1,74.9145,NaN,NaN,497,11530,3
8303,NaN,2020,NaN,NaN,2022,개봉동,"25,825",센트레빌레우스1단지,11,40,2,74.9361,NaN,NaN,497,11530,11
8305,NaN,2020,NaN,NaN,2022,개봉동,"20,660",센트레빌레우스1단지,11,43,4,74.9361,NaN,NaN,497,11530,3

In [33]:
df_sen_group = df_sen.groupby('월','전용면적')['월세금액']

ValueError: No axis named 전용면적 for object type DataFrame

그래프의 x 에 월 y에 금액 hue 전세,월세

In [35]:
import seaborn as sns
import matplotlib.pyplot as plt

In [36]:
plt.figure(figsize =(60,10))
sns.pointplot(x = '원',y='보증금액', hue='신용면적', data=df_sen_group)

NameError: name 'df_sen_group' is not defined